
<script type="text/javascript" src="./app.js"></script>
<div class="board" ng-app='game' ng-controller='gameController'>
    <h1>Hang Man</h1>


    <div class="inputField" id='d1'>
        <input type="text" #enterWord>
        <button mat-raised-button color="primary" (click)="generate(enterWord)">New Word</button>
        <p>word: {{displayWord}}</p>
    </div>

    

    <div class="inputField" id='d2'>
        <input type="text" #player1>
        <button mat-raised-button color="primary" (click)="submit(player1)">Guess</button>
        <p>correct: {{correctLetters}}</p>
        <p>incorrect: {{incorrectLetters}}</p>
        <p>Guesses left: {{guesses}}</p>
        <p>{{status}}</p>
    </div>

    <div class='man'>
        <canvas id='drawings' height="600px">

        </canvas>

    </div>

    
    
</div>
