
.board{
    width: 100vw;
    height: 100vh;
}


h1{
    color: #4232EB;
    font-family: fantasy;
    margin-top: 6vw;
    margin-left: 46vw;
}



.inputField{
    margin-left: 18vw;
    margin-top: 18vh;
}

input{
    border: none;
    background-color: white;
    width: 8vw;
    height: 3vh;
    margin-right: 3vw;
}

p{
    color: #4232EB;
    font-size: large;
    font-family: fantasy;
}

.man{
    width: 20vw;
    height: 52vh;
    float: right;
    margin-right: 38vw;
    margin-top: -54vh;
    border: 2px dashed white;
}



