
.board{
    width: 100vw;
    height: 100vh;
}


h1{
    color: #4232EB;
    font-family: fantasy;
    margin-top: -5.7vh;
    margin-left: 46vw;
}



.inputField{
    margin-left: 10vw;
    margin-top: 6vh;
    width: 38vw;
}

input{
    border: none;
    background-color: white;
    width: 8vw;
    height: 3vh;
    margin-right: 3vw;
}

p{
    color: #4232EB;
    font-size: large;
}

.man{
    width: 20vw;
    height: 52vh;
    float: right;
    margin-right: 26vw;
    margin-top: -46vh;
    border: 2px dashed white;
}

.letters{
    list-style: none;
}

.item{
    float: left;
}

.lettersGroup{
    width: 36vw;
    margin-top: 6vh;
    margin-left: 6vw;
}

#word{
    margin-top: 6vh;
    margin-left: 8vw;
}

#restart{
    margin-left: 4.8vw;
}

.icons{
    width: 1.6vw;
    margin-right: 0.6vw;
}


